*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-22-My-First-Jupyter-Notebook.md
_posts/2022-08-24-Bread-Quiz.md
_posts/2022-08-28-bash-tools-check.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-09-05-vocabulary.md
_posts/2022-09-06-fibonacci.md
_posts/2022-09-26-javascript-tutorial.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-07-grammarAPI.md
_posts/2022-10-17-PBL-javascript_frontend.md
_posts/2022-10-17-PBL-webapi_tutorial.md
_posts/2022-11-18-Team_lesson_notes.md
_posts/2022-11-18-teamlesson_notes.md
_posts/2022-11-18-weekone_teamlesson_notes.md
_posts/2022-11-20-Lessonone.md
_posts/2022-11-20-Lessontwo.md
_posts/2022-12-01-Lessontwo.md
_posts/2022-12-04-Livereviewtwo.md
_posts/2022-12-05-Lessonfour.md
_posts/2022-11-29-Lessonone.md
_posts/2022-11-30-Lessonthree.md
_posts/2022-11-31-Weekone.md
_posts/2022-12-05-hwlessonthree.md
.gitignore
.gitignore
_posts/2022-12-08-hwlessonsix.md
_posts/2022-12-12-hwlessonseven.md
_posts/2022-12-12-Livereviewthree.md
_posts/2022-12-06-Lessonfive.md
_posts/2022-12-06-Lessonfourhw.md
_posts/2022-12-08-hwlesson5.md
_posts/2022-12-08-Lessonsix.md
_posts/2022-12-12-Lessonseven.md
_posts/2022-11-30-SimulationStudentLesson.md
_posts/2023-01-10-PBL-model.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2022-12-14-Lessonnine.md
_posts/2022-12-15-hwlessonnine.md
_posts/2023-01-12-PBL-view.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2023-03-13-AP-unit2-4a.md
_posts/2023-03-16-AP-unit2-4b.md
_posts/2023-03-22-DS-space_time_complexity.md
_posts/2023-03-27-mainpagecode.md
_posts/2023-03-29-DS-hashmaps.md
_posts/2023-04-21-EOYPLAYGROUND.md
_posts/2023-04-28-Binary-Lesson-Runtimeterror.md
_posts/2023-03-29-AP-unit4-3a-parallel-computing.md
