*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-22-My-First-Jupyter-Notebook.md
_posts/2022-08-24-Bread-Quiz.md
_posts/2022-08-28-bash-tools-check.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-09-05-vocabulary.md
_posts/2022-09-06-fibonacci.md
_posts/2022-09-26-javascript-tutorial.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-07-grammarAPI.md
_posts/2022-10-17-PBL-javascript_frontend.md
_posts/2022-10-17-PBL-webapi_tutorial.md
_posts/2022-11-18-Team_lesson_notes.md
_posts/2022-11-18-teamlesson_notes.md
_posts/2022-11-18-weekone_teamlesson_notes.md
_posts/2022-11-20-Lessonone.md
_posts/2022-11-20-Lessontwo.md
_posts/2022-12-01-Lessontwo.md
_posts/2022-12-04-Livereviewtwo.md
_posts/2022-12-05-Lessonfour.md
_posts/2022-11-29-Lessonone.md
